# dependencies
/node_modules

# environment variables
.env
.env.local
.env.*.local

# uploads and temp files
uploads/*
!uploads/.gitkeep
tmp/
/tmp

# logs
logs
*.log
npm-debug.log*

# misc
.DS_Store
.vscode
.idea
*.pdf
.wrangler/
